Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

#User
RewriteRule ^signup/check?$ app/controller/userController.php?action=checkEmail [QSA,L]

RewriteRule ^signUp/saveUser?$ app/controller/userController.php?action=saveUser [QSA,L]

#Item

RewriteRule ^post/postItem?$ app/controller/postController.php?action=postItem [QSA,L]
RewriteRule ^forSale/view/(\d+)/?$ app/controller/postController.php?action=viewPost&pid=$1 [QSA,L]
RewriteRule ^yourPosts/edit/(\d+)/editPost?$ app/controller/postController.php?action=editPost&pid=$1 [QSA,L]
RewriteRule ^yourPosts/edit/(\d+)/?$ app/controller/postController.php?action=displayPostDetails&pid=$1 [QSA,L]
RewriteRule ^yourPosts/delete/(\d+)/?$ app/controller/postController.php?action=deletePost&pid=$1 [QSA,L]


# Site
RewriteRule ^check/?$ app/controller/siteController.php?action=check&userId=$1 [QSA,L]
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^login/check/?$ app/controller/siteController.php?action=checkUser&userEmail=$1 [QSA,L]
RewriteRule ^login/process/?$ app/controller/siteController.php?action=processLogin [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^signUp/?$ app/controller/siteController.php?action=signUp [QSA,L]
RewriteRule ^processLogout/?$ app/controller/siteController.php?action=processLogout [QSA,L]
RewriteRule ^post/?$ app/controller/siteController.php?action=post [QSA,L]
RewriteRule ^yourPosts/?$ app/controller/siteController.php?action=displayUserPosts [QSA,L]
RewriteRule ^forSale/?$ app/controller/siteController.php?action=forSale [QSA,L]
