html, body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0; margin: 0;

}

/*When the child elements of any element are floated, they're removed from the normal flow of the document */
/*fix it*/
div{
  /*overflow: auto;*/
}

.wrapper{
  background-color: #F5F3EE;
  height: 100vh;
  overflow: auto;
}

/*Size of Main content is View Height - (footerheight + headerHeight) */
.mainContent{
  overflow: auto;
  height: calc(100vh - 115px);
}

.clickable{
  cursor: pointer;
}

/*==================Header Styling=====================*/

.header{
  width: 100%;
  height: 60px;
  background-color: #7D1935;
  overflow: auto;
}
.header #appName{

  float: left;
  text-decoration: underline;
  font-size: 36px;
  margin-left: 20px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  font-family: Impact, Charcoal, sans-serif;

}

/*Header buttons should be on the right*/
.header button{
  width: 80px;
  float: right;
  background-color: white;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;

}

.header label{

  float: right;
  margin-right: 20px;
  margin-top: 25px;
}
/*If width is less than 460px make header buttons occupy less space*/
@media all and (max-width: 460px){
  .header button{
    width: 60px;
    font-size: 10px;
    margin-right: 5px;
  }
}

/*If width is less than 373px make header buttons occupy less space*/
@media all and (max-width: 373px){
  .header button{
    width: 45px;
    font-size: 10px;
    margin-right: 5px;
  }
}


/*=====================NAVIGATOR STYLING ===========================================*/

#primary-nav{
  width: 100%;
  text-align: center;
  background-color: #C4C4C4;
  margin-top: 20px;
  overflow: auto;
}

#primary-nav #innerNav{
  display: inline-block;
  margin: 0 auto;
  margin-top: 5px;
  overflow: auto;
}

/*Make buttons look like links*/
#primary-nav button{
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: 20px;
  padding-left: 30px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;


}
/*Change button text color on hover*/
#primary-nav button:hover{
  color: red;
}
/*No selection color when button is clicked*/
#primary-nav button:focus{
  outline: 0;
}


/*============================Home Content Styling====================================*/

#mainImage {
  width: 100%;
  display: block;
  margin-top: 20px;
}

#featuresTitle{
  /*Make the item to the horizontally centered*/
  display: block;
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.featuresLabel{
  font-style: italic;
  font-size: 25px;
}

#featureContainer{
  /*Centered Features*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  width: 60%;
  overflow: auto;
}

/*======================FOOTER STYLING====================*/
#footer{
  width: 100%;
  /*Put content to the center*/
  text-align: center;
  background-color: #7D1935;
  color: white;
  height: 60px;
  overflow: auto;overflow: auto;
}

#footer-content{
  display: block;
  margin: 0 auto;
  overflow: auto;
}

#footer label{
  display: inline;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Arial Narrow, sans-serif;
}

#footer button{
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: 15px;
  padding-left: 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
/*Change button text color on hover*/
#footer button:hover{
  color: red;
}
/*No selection color around the button when button is clicked*/
#footer button:focus{
  outline: 0;
}

#footer label{
  margin-left: 15px;
  font-size: 16px;
}

@media all and (max-width: 400px){
  #footer{
    height: 70px;
  }

  #footer button{
    margin: 0;
  }
  #footer label{
    padding-bottom: 5px;
  }
}


/*================Sign Up and Login Page Styles =============*/

.content{
  overflow: auto;
}
/*Button Styling*/

.mainContent .contentButton {
  background-color: white;
  /*border: none;*/
  /*color: white;*/
  padding: 7px 15px;
  font-size: 16px;
  margin-top: 25px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.mainContent .centeredContent{
  /*Make the item to the horizontally centered*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px;
}

/*Move labels to the left of container in signUp and Login*/
.mainContent label{
  float: left;

}

/*Move inputs and dropdowns to the right of container in signUp and Login*/
.mainContent input{
  float: right;
  width: 150px;
  margin-top: 10px;

}

.mainContent input:hover{

}

.mainContent select{
  float: right;
  margin-top: 10px;
  width: 155px;
  background-color: white;
  color: blue;
}
/*Add some margin between lines*/
.mainContent .lineContainer{
  margin-top: 6px;
}

/*============================ALERTS====================================*/

/*Login Page Alert Container*/
#alertContainer{
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}

/*Sign Up Page Alert Container*/
#alertContainer2{
  text-align: center;
  margin-top: 30px;
  width: 100%;
  font-size: 16px;

}

/*Post Page Alert Container*/
#alertContainer3{
  text-align: center;
  margin-top: 30px;
  width: 100%;
  font-size: 16px;

}

div .alert{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 40px;
  padding-top: 10px;
  width: 300px;
  background-color: red;

}

/*================Post Item Page Style=============*/
.mainContent .postItemContent{
  /*Make the item to the horizontally centered*/
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  height: 100%;
  font-size: 18px;
  text-align: center;
  width: 380px;
}

.mainContent .postItemLineContainer{
  overflow: auto;
  margin-top: 6px;
}

/*Change size of of the content under 400px*/
@media all and (max-width: 400px){
  .mainContent .postItemContent{

    width: 320px;
  }

  .mainContent .postItemLineContainer label{
    font-size: 20px;
  }
}


.mainContent textarea{
  float: right;
  margin-top: 10px;
}

.mainContent .postItemLineContainer input{
  float: right;
  width: 195px;
  margin-top: 10px;
}

.mainContent .postItemLineContainer select{
  float: right;
  width: 200px;
  margin-top: 10px;
}

.mainContent .postItemLineContainer img{
  width: 100px;
  float: left;
  margin-top: 10px;
}

/*============================LIST VIEW STYLING =========================*/



#listContent{
  margin: 0px;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}


.col-1 {
  float: left;
  padding-left: 10px;
  overflow: hidden;
  height: 375px;
}

.col-1 img {
  height: 270px;
  width: 100%;
  /*Center the image in the column*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.listItemInfo{
  width: 100%;
}

.listItemTitle {
  font-weight: bold;
  font-size: 20px;
  width: 70%;
  padding-left: 10px;
  padding-top: 10px;
  float: left;
}

.listItemPrice {
  float: right;
  font-weight: bold;
  font-size: 25px;
  color: green;
  margin-top: 10px;
  /*padding-left: 20px;
  padding-right: 10px;*/

}

@media all and (min-width: 1340px){
  .col-1 {
    width: 24%;

  }
}
@media all and (max-width: 1339px){
  .col-1 {
    width: 32%;

  }
}

@media all and (max-width: 990px){
  .col-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: auto;
    height: auto;


  }
  .col-1 img {
    width: 100%;
    height: auto;
  }
  .listItemPrice {
    margin-right: 20px;
  }
}

/*=============================FOR SALE ITEM STYLE===================*/

/*Content from header to footer*/
.itemContent{
  margin: 0px;
  height: 100%;
  overflow: auto;
}

/*Go to back area should have complete row*/
.itemContent .backContainer{
  width: 100%;
  margin-top: 20px;
  overflow: auto;
}

.itemContent #backNavigator{
  margin-left: 20px;
  color: purple;
  font-weight: bold;
}

.itemContent #backNavigator:hover{
  color: red;
}

.itemContent .backContainer #itemPageItemTitle{
  font-weight: bold;
  color: purple;
  margin-left: 10px;
  display: inline;
}

.itemContent .itemTitleContainer h2 {
  margin-left: 20px;
}


/*IMAGE AND FEATURES STYLING*/
.itemContent img {
  overflow: hidden;
  margin-bottom: 20px;

}

.itemFeaturesContainer {
  overflow: auto;
}

.itemContent .rightBlockContainer {
  width: 35%;
  overflow: auto;
}

.itemContent .itemFeaturesContainer label{
  font-size: 25px;
  font-weight: bold;
}

.itemContent .itemFeaturesContainer .innerFeaturesContainer {
  width: 140px;
  float: left;
}

.itemContent .itemFeaturesContainer .innerFeaturesContainer2 label{
  font-size: 25px;
  font-weight: normal;
}

.itemContent .itemFeaturesContainer .itemLineContainer{
  margin-top: 20px;

}

#itemDescription{
  min-height: 100px;
}

/*IMAGE AND FEATURES STYLING WHEN PAGE IS LARGE*/

@media all and (min-width: 969px){
  .itemContent img {
    width : 60%;
    max-height: 450px;
    max-width: 600px;
    float: left;
    margin-left: 20px;


  }

  .itemContent .itemFeaturesContainer .innerFeaturesContainer {
    margin-left: 20px;

  }

  .itemContent .itemFeaturesContainer .innerFeaturesContainer2 {
    margin-left: 10px;
  }


}

/*IMAGE AND FEATURES STYLING WHEN PAGE IS SMALL*/

@media all and (max-width: 970px){
  .itemContent .itemFeaturesContainer {
    margin-left: 20px;


  }

  .itemContent img {
    width: 90%;
    max-width: 562px;
    margin-left: 20px;
    margin-right: 20px;


  }

  .itemContent .rightBlockContainer {
    overflow: auto;
    width: 100%;
  }

  .itemContent .itemFeaturesContainer .innerFeaturesContainer2 {
    margin-left: 10px;

  }

}

.itemContent h3{
  margin-left: 20px;
  font-size: 25px;
  display: block;
}


/*Item description and contact area styling*/
#contactContainer{
background-color: white;
margin: 20px;
}
.itemContent .itemDescription{
  background-color: white;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  display: block;
}
.itemContent p{
  font-size: 16px;
  display: block;
}
.itemContactPerson{
  font-weight: bold;
  margin-left: 20px;
}

/*=============================================YOUR POSTS LIST VIEW ===================================*/

.yourItemsList {
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  float: left;

}

.postItemLineContainer .fixedInfo{
  width: 200px;
  float: right;

}

.postItemLineContainer .fixedInfo label{
  font-size: 16px;
  margin-top: 10px;
}

.modifyItemButton{
  background-color: white;
  /*border: none;*/
  /*color: white;*/
  display: inline;
  padding: 7px 15px;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;

}

.leftButton{
  float: left;
}

/* google map styles*/
#map {
  margin-left: 20px;
  height: 240px;
  width: 320px;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
