html, body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0; margin: 0;
}

/*When the child elements of any element are floated, they're removed from the normal flow of the document */
/*fix it*/
div{
  overflow: auto;

}

/*Size of Main content is View Height - (footerheight + headerHeight) */
.mainContent{
  height: calc(100vh - 115px);
}

/*==================Header Styling=====================*/

.header{
  width: 100%;
  height: 60px;
  background-color: #7D1935;

}
.header #appName{

  float: left;
  text-decoration: underline;
  font-size: 36px;
  margin-left: 20px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  font-family: Impact, Charcoal, sans-serif;

}

/*Header buttons should be on the right*/
.header button{
  width: 80px;
  float: right;
  background-color: white;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;

}

.header label{

  float: right;
  margin-right: 20px;
  margin-top: 25px;
}


/*=====================NAVIGATOR STYLING ===========================================*/

#primary-nav{
  width: 100%;
  text-align: center;
  background-color: #C4C4C4;
  margin-top: 20px;

}
#primary-nav #innerNav{
  display: inline-block;
  margin: 0 auto;
  margin-top: 5px;
}


/*Make buttons look like links*/
#primary-nav button{
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: 20px;
  padding-left: 30px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;


}
/*Change button text color on hover*/
#primary-nav button:hover{
  color: red;
}
/*No selection color when button is clicked*/
#primary-nav button:focus{
  outline: 0;
}


/*============================Home Content Styling====================================*/

#mainImage {
  width: 100%;
  display: block;
  margin-top: 20px;
}

#featuresTitle{
  /*Make the item to the horizontally centered*/
  display: block;
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.featuresLabel{
  font-style: italic;
  font-size: 25px;
}

#featureContainer{
  /*Centered Features*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  width: 60%;
}

/*======================FOOTER STYLING====================*/
#footer{
  width: 100%;
  /*Put content to the center*/
  text-align: center;
  background-color: #7D1935;
  color: white;
  height: 60px;



}
#footer-content{
  display: block;
  margin: 0 auto;
}
#footer label{
  display: inline;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Arial Narrow, sans-serif;
}

#footer button{
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: 15px;
  padding-left: 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
/*Change button text color on hover*/
#footer button:hover{
  color: red;
}
/*No selection color around the button when button is clicked*/
#footer button:focus{
  outline: 0;
}

#footer label{
  margin-left: 15px;
  font-size: 16px;
}



/*================Sign Up and Login Page Styles =============*/

/*.content{

  margin: 0px;
  height: 100%;
}*/
/*Button Styling*/

.mainContent .contentButton {
  background-color: white;
  /*border: none;*/
  /*color: white;*/
  padding: 7px 15px;
  font-size: 16px;
  margin-top: 25px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.mainContent .centeredContent{
  /*Make the item to the horizontally centered*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px;
}

/*Move labels to the left of container in signUp and Login*/
.mainContent label{
  float: left;

}

/*Move inputs and dropdowns to the right of container in signUp and Login*/
.mainContent input{
  float: right;
  width: 150px;
  margin-top: 10px;

}

.mainContent input:hover{

}

.mainContent select{
  float: right;
  margin-top: 10px;
  width: 155px;
  background-color: white;
  color: blue;
}
/*Add some margin between lines*/
.mainContent .lineContainer{
  margin-top: 6px;
}

/*============================ALERTS====================================*/

/*Login Page Alert Container*/
#alertContainer{
  text-align: center;
  margin-top: 30px;

}

/*Sign Up Page Alert Container*/
#alertContainer2{
  text-align: center;
  margin-top: 30px;
  width: 100%;

}

/*Post Page Alert Container*/
#alertContainer3{
  text-align: center;
  margin-top: 30px;
  width: 100%;
  font-size: 16px;

}

div .alert{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 40px;
  padding-top: 10px;
  width: 300px;
  background-color: red;

}

/*================Post Item Page Style=============*/
.mainContent .postItemContent{
  /*Make the item to the horizontally centered*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  width: 380px;
}

.mainContent .postItemLineContainer{
  margin-top: 6px;
}

/*Change size of of the content under 400px*/
@media all and (max-width: 400px){
  .mainContent .postItemContent{

    width: 320px;
  }

  .mainContent .postItemLineContainer label{
    font-size: 20px;
  }
}


.mainContent textarea{
  float: right;
  margin-top: 10px;
}

.mainContent .postItemLineContainer input{
  float: right;
  width: 195px;
  margin-top: 10px;
}

.mainContent .postItemLineContainer select{
  float: right;
  width: 200px;
  margin-top: 10px;
}

.mainContent .postItemLineContainer img{
  width: 100px;
  float: left;
  margin-top: 10px;
}
