
/*Include padding when calculating the total width and height*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*================HOME PAGE AND SHARED CONTENT STYLES =============*/

#wrapper{
  /*Make the height screen height*/
  height: 100vh;
  /*No white spaces at the sides of browser*/
  top:0;
  left: 0;
  right: 0;
  position: absolute;
  min-width: 320px;
  background-color: #F5F3EE;
}

.header{
  width: 100%;
  height: 60px;
  background-color: #7D1935;

}

/*When the child elements of any element are floated, they're removed from the normal flow of the document */
/*fix it*/
div{
  overflow: auto;

}

/*Header Styling*/
.header #appName{

  float: left;
  text-decoration: underline;
  font-size: 36px;
  margin-left: 20px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  font-family: Impact, Charcoal, sans-serif;

}

/*Header buttons should be on the right*/
.header button{
  width: 80px;
  float: right;
  background-color: white;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;

}

/*If width is less than 373px make header buttons occupy less space*/
@media all and (max-width: 373px){
  .header button{
    width: 55px;
    font-size: 10px;
    margin-right: 5px;
  }
}

.header label{
  float: right;
  margin-right: 20px;
  margin-top: 25px;
}



/*Content Styling*/

.content{

  margin: 0px;
  height: 100%;
}

/*Button Styling*/

.content .contentButton {
  background-color: white;
  /*border: none;*/
  /*color: white;*/
  padding: 7px 15px;
  font-size: 16px;
  margin-top: 25px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}


#primary-nav{
  width: 100%;
  text-align: center;
  background-color: #C4C4C4;
  margin-top: 20px;

}
#primary-nav #innerNav{
  display: inline-block;
  margin: 0 auto;
  margin-top: 5px;
}


/*Make buttons look like links*/
#primary-nav button{
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: 20px;
  padding-left: 30px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;


}
/*Change button text color on hover*/
#primary-nav button:hover{
  color: red;
}
/*No selection color when button is clicked*/
#primary-nav button:focus{
  outline: 0;
}


#mainImage{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;

}

#featuresTitle{
  /*Make the item to the horizontally centered*/
  display: block;
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.featuresLabel{
  font-style: italic;
  /*To make use of new line character*/

  font-size: 25px;
}

#featureContainer{
  /*Centered Features*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  width: 60%;
}


/*================Sign Up and Login Page Styles =============*/

.content .centeredContent{
  /*Make the item to the horizontally centered*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px;
}

/*Move labels to the left of container in signUp and Login*/
.content label{
  float: left;

}

/*Move inputs and dropdowns to the right of container in signUp and Login*/
.content input{
  float: right;
  width: 150px;
  margin-top: 10px;

}

.content input:hover{

}

.content select{
  float: right;
  margin-top: 10px;
  width: 155px;
  background-color: white;
  color: blue;
}
/*Add some margin between lines*/
.content .lineContainer{
  margin-top: 6px;
}

/*================Post Item Page Style=============*/
.content .postItemContent{
  /*Make the item to the horizontally centered*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  width: 380px;
}

.content .postItemLineContainer{
  margin-top: 6px;
}

/*Change size of of the content under 400px*/
@media all and (max-width: 400px){
  .content .postItemContent{

    width: 320px;
  }

  .content .postItemLineContainer label{
    font-size: 20px;
  }
}


.content textarea{
  float: right;
  margin-top: 10px;
}

.content .postItemLineContainer input{
  float: right;
  width: 195px;
  margin-top: 10px;
}

.content .postItemLineContainer select{
  float: right;
  width: 200px;
  margin-top: 10px;
}

.content .postItemLineContainer img{
  width: 100px;
  float: left;
  margin-top: 10px;
}

/*=============================FOR SALE ITEM STYLE===================*/

/*Content from header to footer*/
.itemContent{
  margin: 0px;
  height: 100%;
}

/*Go to back area should have complete row*/
.itemContent .backContainer{
  width: 100%;
  margin-top: 20px;


}

.itemContent #backNavigator{
  margin-left: 20px;
  color: purple;
  font-weight: bold;

}

.itemContent #backNavigator:hover{
  color: red;

}

.itemContent .backContainer #itemPageItemTitle{
  font-weight: bold;
  color: purple;
  margin-left: 10px;
  display: inline;


}

.itemContent .itemTitleContainer h2 {
  margin-left: 20px;
}


/*IMAGE AND FEATURES STYLING*/
.itemContent img {
  overflow: hidden;

}

.itemContent .rightBlockContainer {
  width: 35%;

}

.itemContent .itemFeaturesContainer label{
  font-size: 25px;
  font-weight: bold;
}

.itemContent .itemFeaturesContainer .innerFeaturesContainer {
  width: 140px;
  float: left;
}

.itemContent .itemFeaturesContainer .innerFeaturesContainer2 label{
  font-size: 25px;
  font-weight: normal;
}

.itemContent .itemFeaturesContainer .itemLineContainer{
  margin-top: 20px;

}

#itemDescription{
  min-height: 100px;
}

/*IMAGE AND FEATURES STYLING WHEN PAGE IS LARGE*/

@media all and (min-width: 969px){
  .itemContent img {
    width : 60%;
    max-height: 450px;
    max-width: 600px;
    float: left;
    margin-left: 20px;


  }

  .itemContent .itemFeaturesContainer .innerFeaturesContainer {
    margin-left: 20px;

  }

  .itemContent .itemFeaturesContainer .innerFeaturesContainer2 {
    margin-left: 10px;
  }


}

/*IMAGE AND FEATURES STYLING WHEN PAGE IS SMALL*/

@media all and (max-width: 970px){
  .itemContent .itemFeaturesContainer {
    margin-left: 20px;

  }

  .itemContent img {
    width: 90%;
    max-width: 562px;
    margin-left: 20px;
    margin-right: 20px;

  }

  .itemContent .rightBlockContainer {

    width: 100%;
  }

  .itemContent .itemFeaturesContainer .innerFeaturesContainer2 {
    margin-left: 10px;

  }

}

.itemContent h3{
  margin-left: 20px;
  font-size: 25px;
  display: block;
}


/*Item description and contact area styling*/
#contactContainer{
background-color: white;
margin: 20px;
}
.itemContent .itemDescription{
  background-color: white;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  display: block;
}
.itemContent p{
  font-size: 16px;
  display: block;
}
.itemContactPerson{
  font-weight: bold;
  margin-left: 20px;
}




/*============================LIST VIEW STYLING =========================*/



#listContent{
  margin: 0px;
  height: 100%;
}

.col-1 {
  float: left;
  padding: 20px;
  overflow: hidden;
  height: 350px;



}
.col-1 img {
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.listItemTitle {
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  padding: 10px;
  cursor: pointer;
  float: left;

}

.listItemPrice {
  float: right;
  width: 20%;
  font-weight: bold;
  font-size: 25px;
  color: green;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 10px;

}

@media all and (min-width: 1340px){
  .col-1 {
    width: 24%;

  }
}
@media all and (max-width: 1339px){
  .col-1 {
    width: 32%;

  }
}

@media all and (max-width: 990px){
  .col-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: auto;
    height: auto;


  }
  .col-1 img {
    width: 100%;
    height: auto;
  }
}


/*Login Page Alert Container*/
#alertContainer{
  text-align: center;
  margin-top: 30px;

}

/*Sign Up Page Alert Container*/
#alertContainer2{
  text-align: center;
  margin-top: 30px;
  width: 100%;

}

div .alert{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 40px;
  padding-top: 10px;
  width: 300px;
  background-color: red;

}

/*FOOTER STYLING*/
#footer{
  width: 100%;
  /*Put content to the center*/
  text-align: center;
  background-color: #7D1935;
  color: white;


}
#footer-content{
  display: block;
  margin: 0 auto;
}
#footer label{
  display: inline;
  font-size: 15px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Arial Narrow, sans-serif;
}

#footer button{
  border: none;
  background: transparent;
  text-decoration: underline;
  font-size: 15px;
  padding-left: 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
/*Change button text color on hover*/
#footer button:hover{
  color: red;
}
/*No selection color around the button when button is clicked*/
#footer button:focus{
  outline: 0;
}

#footer label{
  margin-left: 15px;
  font-size: 16px;
}

#listContent2{
  margin: 0px;
  height: 100%;
}
